:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.94 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --blue: oklch(0.6 0.2 240);
  --blue-foreground: oklch(0.985 0 0);
  --light-blue: oklch(0.9791 0.0125 228.92);
  --light-blue-foreground: oklch(0.145 0 0);
  --green: oklch(0.6 0.2 140);
  --green-foreground: oklch(0.985 0 0);

  --shadow-elevation-1:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-elevation-2:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --shadow-elevation-3:
    0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.35 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --blue: oklch(0.7 0.15 240);
  --blue-foreground: oklch(0.985 0 0);
  --light-blue: oklch(0.4 0.08 240);
  --light-blue-foreground: oklch(0.985 0 0);
  --green: oklch(0.7 0.15 140);
  --green-foreground: oklch(0.985 0 0);

  --shadow-elevation-1:
    0px 2px 1px -1px rgba(255, 255, 255, 0.05), 0px 1px 1px 0px rgba(255, 255, 255, 0.02),
    0px 1px 3px 0px rgba(255, 255, 255, 0.02);
  --shadow-elevation-2:
    0px 3px 1px -2px rgba(255, 255, 255, 0.05), 0px 2px 2px 0px rgba(255, 255, 255, 0.02),
    0px 1px 5px 0px rgba(255, 255, 255, 0.02);
  --shadow-elevation-3:
    0px 3px 3px -2px rgba(255, 255, 255, 0.05), 0px 3px 4px 0px rgba(255, 255, 255, 0.02),
    0px 1px 8px 0px rgba(255, 255, 255, 0.02);
}
